@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
* {
  font-family: "Roboto Condensed", sans-serif;
}

%font {
  color: whitesmoke;
  text-shadow: 3px 3px rgb(102, 102, 102);
  opacity: 65%;
  font-size: 80px;
  font-weight: 600px;
}

%fix_size {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;

  .bgVideo {
    @extend %fix_size;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  main {
    z-index: 2;
    @extend %fix_size;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .date {
      display: flex;
      @extend %font;
      font-size: 30px;
    }

    .time {
      @extend %font;
    }
  }
  .quotes {
    position: relative;
    @extend %font;
    font-size: 50px;

    .quotesAddBtn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90px;
      height: 35px;
      background-color: rgb(255, 255, 255);
      border-radius: 10px;
      color: rgb(37, 35, 37);
      font-size: 20px;
      border: 0px;
      display: none;
      font-weight: bold;
    }

    &:hover {
      .quotesAddBtn {
        display: inline-block;
      }
      .quotesMsg {
        opacity: 50%;
      }
    }
  }
  .newQuotes {
    display: none;
    @extend %font;

    .newQuotesInput {
      background-color: transparent;
      border: 0;
      border-bottom: 5px solid rgb(255, 255, 255);
      font-size: 30px;
      width: 400px;
      color: white;
      outline: none;
    }

    .newQuotesBtn {
      background-color: transparent;
      font-size: 30px;
      color: white;
      border: 0;
      background-color: rgb(255, 255, 255);
      color: rgb(37, 35, 37);
      font-weight: bold;
      border-radius: 10px;

      &:hover {
        scale: 1.1;
      }
    }
  }
}
